body {
    font-family: monospace;
}

#game-container {
    display: grid;
    width: calc(45px * 4);
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    gap: 2px;
    margin: 5px 0;
}

.layer {
    display: grid;
    grid-area: 1 / 1 / -1 / -1;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
}

.tile {
    aspect-ratio: 1 / 1;
    grid-row-end: span 2;
    grid-column-end: span 2;
    position: relative;
    border: 1px solid black;
    background-color: #F2F3FB;

    &[data-selected="true"] {
        /* opacity: .5; */
        background-color: #ccc;
    }
}

.corner {
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.top-left {
        top: 0;
        left: 0;
    }
    &.top-right {
        top: 0;
        right: 0;
    }
    &.bottom-left {
        bottom: 0;
        left: 0;
    }
    &.bottom-right {
        bottom: 0;
        right: 0;
    }
}

#score-container {
    margin-top: 10px;
    color: #333;
}